@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
}

.header, .hero-box, .footer {
    background-color: #1F2937;
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;
}
.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.header li, .hero-left p {
    font-size: 18px;
    color: #E5E7EB;
}

